@{
}

<h1>My Laptops</h1>


@if (ViewBag.laptops.Count == 0)
{ 
    <p>No Laptops Have Been Added Yet </p>
}

<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>

    
    @foreach (var laptop in ViewBag.laptops)
    {
        <tr>
            <td>@laptop.Name</td>
            <td>@laptop.Description</td>
        </tr>   
    }

</table>

<p><a asp-controller="Laptop" asp-action="Add">Add Laptop</a></p>