@{
}

<h1>My Laptops</h1>

<p><a asp-controller="Laptop" asp-action="Add" >Add Laptop</a></p>

@if (ViewBag.laptops.Count == 0)
{ 
    <p>No Laptops Have Been Added Yet </p>
}

    <ul>
        @foreach (Dictionary<string, string> laptop in ViewBag.laptops)
        {
            <li>@laptop.</li>
        }

    </ul>
